<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>首页[spring-websocket demo]</title>
    <style type="text/css">
        body {
            background: #E2E2E2;
            font-size: 13.5px;
        }

        div[message] {
            background: #5170ad;
            width: 400px;
            height: 600px;
            border: 1px solid #ccc;
            color: #fff;
            overflow-y: auto;
        }

        ul, li {
            list-style-type: square;
        }

        .ul {style-type:none;width:100%;text-align:right;}
        .li {display:inline;}

    </style>
    <script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/sockjs.min.js"></script>
    <script type="text/javascript" src="/json.js"></script>
    <!--<script type="text/javascript">-->
        <!--var websocket = null;-->
        <!--if (window['WebSocket'])-->
        <!--// ws://host:port/project/websocketpath-->
            <!--websocket = new WebSocket("ws://" + window.location.host + '/websocket');-->
        <!--else-->
            <!--websocket = new new SockJS(PATH + '/websocket/socketjs');-->

        <!--websocket.onopen = function (event)-->
        <!--{-->
            <!--console.log('open', event);-->
        <!--};-->
        <!--websocket.onmessage = function (event)-->
        <!--{-->
            <!--console.log('message', event.data);-->
            <!--$('div[message] > ul').append('<li>' + event.data + '</li>');-->
        <!--};-->
    <!--</script>-->

</head>
<body ng-app="App" ng-controller="SendController">
<runoob-directive></runoob-directive>
<div message>
    <ul>
    </ul>
</div>
<div message2>
    <ul>
    </ul>
</div>
<script src="../angular.min.js"></script>
<script src="../controller.js"></script>

<table>
    <tr>
        <td align="right">用户名:</td>
        <td><input name="username" type="text" style="width: 300px;" ng-model="username"></td>
    </tr>
    <tr>
        <td align="right">内容:</td>
        <td><textarea name="message" style="width: 300px;" ng-model="message"></textarea></td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="button" ng-click="sendMessage()" value="send"/></td>
    </tr>
</table>
</body>
</html>
