<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>发送消息页面 [spring-websocket demo]</title>
    <style type="text/css">
        table tr td {
            font-size: 12px;
        }

        input, textarea {
            font-size: 12px;
        }
    </style>
    <script src="../angular.min.js"></script>
    <script src="../controller.js"></script>
</head>
<body ng-app="App" ng-controller="SendController">

<table>
    <tr>
        <td align="right">用户名:</td>
        <td><input name="username" type="text" style="width: 300px;" ng-model="username"></td>
    </tr>
    <tr>
        <td align="right">内容:</td>
        <td><textarea name="message" style="width: 300px;" ng-model="message"></textarea></td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="button" ng-click="sendMessage()" value="send"/></td>
    </tr>
</table>

</body>
</html>